/* 
    Document   : css
    Created on : May 15, 2015, 11:00:17 AM
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

/* 
    Document   : css
    Created on : May 12, 2015, 6:46:05 PM
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/
.khung {
    position: relative;
    padding:0px;
    min-height:auto;
    width:1020px;
    margin:auto;
    text-decoration:center;
}
.banner {
    position: absolute;
    background:#1767c0;
    padding:0px;
    min-height:240px;
    width:1020px;
    margin-top: 0px;
}
.p_contact{
  font-family:fantasy;
  font-size: 20px;
  color: black;
}
#dtmenu {
position:absolute; 
 width:1021px;
 min-height:40px;
 margin-top:205px;
 background:rgb(2,139,255);
 border-bottom: 5px solid #1A1A1A;
 border-top: 1px solid #1A1A1A;
 clear: both;
 overflow: hidden;

 }
 #dtmenu ul {
 float: right;
 width: 100%;
 }
 #dtmenu li {
 float: left;
 list-style-type: none;
 text-decoration: center;
 }
 #dtmenu li a {
 background:rgb(2,139,255);
 color: #fff;
 display: block;
 font-size: 15px;
 padding: 10px 17px 10px 25px;
 position: relative;
 text-decoration: none;
 font-weight: bold;
 }
 #dtmenu li a:hover {
 background: #096eba;
 color: #fff;
 }
 #dtmenu li li a {
 background: none;
 background-color:#096eba;
 border: 1px solid #1A1A1A;
 border-top-width: 0;
 color: #fff;
 font-size: 14px;
 padding: 5px 10px;
 position: relative;
 text-transform: none;
 width: 130px;
 }
 #dtmenu li li a:hover {
 background: none;
 background-color:#096eba;
 text-decoration: center;
 }
 #dtmenu li ul {
 height: auto;
 left: -9999px;
 margin: 0 0 0 -1px;
 position: absolute;
 width: 160px;
 z-index: 9999;
 }
 #dtmenu li:hover ul {
 left: auto;
 }

.content {
    position:absolute;
    min-height:500px;
    width:1020px;
    margin-top:254px;
   
    /*border-radius:4px;*/
}
.content_left {
    position: absolute;
    background:rgb(2,139,255);
    min-height:800px;
    width:250px;
    margin-top:-4px;
}
#chude{
position: absolute;
width:250px;
text-align:center;
text-decoration: center;
font-size: 20px;
font-family: sans-serif;
background: white;
color: red;
margin-top:-1px;
}
#left{
position: absolute;
min-height:250px;
width:249px;
border-radius:15px;
margin-top: 24px;
}
#left h1{
background:whitesmoke;
color:#FFFFFF;
font-size:14px;
text-align:center;
}
#left ul{
list-style-type:none;
margin:0px;
padding:0px;
}
#left ul a{
text-decoration:none;
line-height:30px;
color:white;
background:#0874fe;
display:block;
width:230px;
border-top:1px solid red;
border-bottom:1px solid black;
padding-left:20px;
}
#left ul a:hover{
background:#096eba;
}
#chude1{
position:absolute;
width:250px;
text-align:center;
text-decoration: center;
font-size: 20px;
font-family: serif;
background: white;
color: red;
margin-top:2px;
}
#content_left1{
position: absolute;
min-height:250px;
width:250px;
margin-top:259px;
border-radius:15px;
margin-top:27px;
}
#content_left1 h1{
background:#99CC00;
color:#FFFFFF;
font-size:14px;
text-align:center;
}
#content_left1 ul{
list-style-type:none;
margin:0px;
padding:0px;
}
#content_left1 ul a{
text-decoration:none;
line-height:40.2px;
color:white;
background:#0874fe;
display:block;
width:230px;
border-top:1px solid purple;
border-bottom:1px solid #CCCCCC;
padding-left:20px;
}
#content_left1 ul a:hover{
background:#096eba;
}
 
.content_left_table ul{
list-style-type:none;
margin:0px;
padding:1px;
text-align:center;
text-decoration:none;
float:left;
}
 
.content_left_table ul a{
text-decoration:none;
line-height:30px;
width:250px;
border-top:1px solid #FFFFFF;
float:left;
}
 
.content_left_tablet ul a:hover{
background:#000000;
}
.content_left_table1 {
    background:#ffd800;
    border:1px solid #c32751;
    width: 248px;
    margin-top:283px;
    height: 200px;
}
.content_right {
    position: absolute;
    background:whitesmoke;
    min-height:800px;
    width:770px;
    margin-top:249px;
    margin-left: 250px;
}
.footer {
    position: absolute;
    background:#075794;
    padding:0px;
    min-height:150px;
    width:1020px;
    margin-top:1054px;
    /*border-radius:4px;*/
    text-align :center;
    color:#fff;
    Font-size:20px;
    font-family:Centaur;
    margin-left:0px;
      
}

  


